# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# Ignore test and development files
tests/
docs/
*.log

# Ignore version control directories
.git
.gitignore

# Ignore macOS specific files
.DS_Store

# Ignore IDE specific files
.vscode
.idea

# Ignore Docker files
Dockerfile
docker-compose.yml
